---
title: Our team / Vårt team
description: >-
---
<p>EN: Tranquillity.se is run by Mikael Frykholm. We do our utmost best to make as little impact on the environment as possible. We buy our electricity from <a href="https://etcel.se/">ETC EL</a>. All excessive heat from our servers is reused and heats up the farm's greenhouse. During the summer solar panels contribute with all electricity and the excess energy is fed back to the grid and creates value for others.</p>
<p>SV: Tranquillity.se drivs av Mikael Frykholm. Vi gör vårt yttersta för att göra så liten åverkan på miljön som möjligt. Vi köper vår el från <a href="https://etcel.se/">ETC EL</a>. All överflödig värme från våra servrar återanvänds och värmer upp gårdens växthus. Under sommaren förser solpaneler all elektricitet och överflödet matas tillbaka till elnätet och kommer andra till nytta.</p>

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://tranquillity.se/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
