---
title: Contact
heading: Get in touch today for your new ecological VPS!
description: We'd love to help you with ecological VPS hosting.

map:
  latitude: 64.23293,
  longitude: 21.01663
  address: "Gumboda, Robertsfors, Västerbotten, Sweden"
  zoom: 13
---
<!--<div class="map" id="map"></div>-->


<div class="contact-box">
	<form action="{{ site.baseurl }}/contact-success/" method="post" class="contact-form">
		<input type="hidden" name="_to" value="mikael@frykholm.com" />
		<input type="text" name="_gotcha" style="display: none;">

		<label for="name">Full Name</label>
		<input type="text" name="name" id="name" placeholder="Enter your name..." />

		<label for="email">Email Address</label>
		<input type="email" name="email" id="email" placeholder="Enter your email..." required />

		<label for="message">Message</label>
		<textarea name="message" id="message" placeholder="Enter your message..."></textarea>

		<input type="submit" value="Send Message" />
	</form>

	<div class="contact-details">
	<!--	<h3 class="editable">Address</h3>
		<address><a target="_blank" href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{{ page.map.address | replace: ", ", ", <br>" }}</a></address>-->

		<h3 class="editable">E-mail</h3>
		<p><a href="mailto:mikael@frykholm.com">mikael@frykholm.com</a></p>
		<h3 class="editable">gpg fingerprint</h3>
		<p>13AB 28F6 0D55 32E1 321C 0294 8AFB 17FB DB84 2A49</p>
		<h3 class="editable">Telephone</h3>
		<p><a href="tel:+46706425589">+46706425589</a></p>
		<h3 class="editable">XMPP</h3>
		<p><a href="xmpp:mikael@frykholm.com">mikael@frykholm.com</a></p>
	</div>
</div>

<!--<script type="text/javascript">
	window.mapData = {{ page.map | jsonify }};

	function initMap() {
		var myOptions = {
			scrollwheel: false,
			draggable: false,
			panControl: false,
			disableDefaultUI: true,
			styles: [{
				"featureType": "all",
				"elementType": "labels.text.fill",
				"stylers": [{
					"saturation": 36
				}, {
					"color": "#000000"
				}, {
					"lightness": 40
				}]
			}, {
				"featureType": "all",
				"elementType": "labels.text.stroke",
				"stylers": [{
					"visibility": "on"
				}, {
					"color": "#000000"
				}, {
					"lightness": 16
				}]
			}, {
				"featureType": "all",
				"elementType": "labels.icon",
				"stylers": [{
					"visibility": "off"
				}]
			}, {
				"featureType": "administrative",
				"elementType": "geometry.fill",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 20
				}]
			}, {
				"featureType": "administrative",
				"elementType": "geometry.stroke",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 17
				}, {
					"weight": 1.2
				}]
			}, {
				"featureType": "landscape",
				"elementType": "geometry",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 20
				}]
			}, {
				"featureType": "poi",
				"elementType": "geometry",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 21
				}]
			}, {
				"featureType": "road.highway",
				"elementType": "geometry.fill",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 17
				}]
			}, {
				"featureType": "road.highway",
				"elementType": "geometry.stroke",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 29
				}, {
					"weight": 0.2
				}]
			}, {
				"featureType": "road.arterial",
				"elementType": "geometry",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 18
				}]
			}, {
				"featureType": "road.local",
				"elementType": "geometry",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 16
				}]
			}, {
				"featureType": "transit",
				"elementType": "geometry",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 19
				}]
			}, {
				"featureType": "water",
				"elementType": "geometry",
				"stylers": [{
					"color": "#000000"
				}, {
					"lightness": 17
				}]
			}],
			zoom: window.mapData.zoom,
			maxZoom: window.mapData.zoom,
			minZoom: window.mapData.zoom,
			center: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map"), myOptions);
		marker = new google.maps.Marker({
			map: map,
			position: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude)
		});

		google.maps.event.addDomListener(window, "resize", function () {
			map.setCenter(myOptions.center);
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>-->
