---
title: The ecological VPS hosting you need
description: Track, manage and optimize your VPS with a conscious
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable">The ecological VPS hosting <strong>you'll ever need</strong></h1>
		<p class="subtext editable">Track, manage and optimize your VPS with a conscious</p>
		<div class="cta button alt"><a href="{{ site.baseurl }}/pricing/">Get Started for only €8/M</a></div>
		<div>
			<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can we <strong>strengthen</strong> our VPS management?</h2>
				<p>Tranquillity.se is putting the customer in power and control of the VPS. Use our dashboard to control your VPS to the fullest.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/tranquillity-logo-black.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can I <strong>trust</strong> the VPS hosting?</h2>
				<p>Tranquillity ecological VPS hosting is fair. We run as much Free and Open Source Software as possible in our VPS environment.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/tranquillity-logo-white.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can I <strong>grow</strong> the next 90 days?</h2>
				<p>Our hosting offering is quick and personal to support you in growing at your speed and needs - while remaining ecologically conscious.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

<!--	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Firstname Lastname" class="editable"></div>
				<blockquote>
					<p class="editable"></p>
					<p class="editable author"></p>
				</blockquote>
			</div>
		</div>
	</section>-->

	<section class="bottom-cta">
		<h2 class="editable"><strong>Improve</strong> your VPS hosting today</h2>
		<div class="button alt"><a href="/pricing/">Get Started for €8/M!</a></div>
	</section>
	<section class="bottom-cta">
		<h3 class="editable">Read our <a href="https://tranquillity.se/tos.html">ToS</a>. We are also available over <strong>Tor</strong> at <a href="http://3cxmx5xalprbwmuu.onion">http://3cxmx5xalprbwmuu.onion</a>. Läs våra <a href="https://tranquillity.se/tos.html">användarvillkor</a>. Vi är också tillgängliga via tor på <a href="http://3cxmx5xalprbwmuu.onion">http://3cxmx5xalprbwmuu.onion</a>.</h3>
	</section>
</div>
