---
title: Pricing
heading: Find your plan for ecological VPS hosting or Internet connection
description: All plans include our admin control panel. Track and control your VPS in real time!
pricing_table:
  - name: Basic
    color: "#8e8e8e"
    features:
      - text: 80SEK per month + Swedish VAT
        highlight: true
      - text: 1G RAM
        highlight: false
      - text: 30G SSD storage
        highlight: false
      - text: 100 Mbit internet (no traffic limits)
        highlight: false
      - text: ipv4
        highlight: false
      - text: ipv6
        highlight: false
      - text: UPS
        highlight: false
    call_to_action:
      link: mailto:mikael@frykholm.com?subject=Request for plan Basic&body=I would like to start a VPS on the basic plan
      text: Get started
  - name: Buy extra (per month)
    color: "#4a4a4a"
    features:
      - text: 1 SEK/GB SSD
        highlight: true
      - text: 50 SEK/GB RAM
        highlight: true
      - text: 0.1 SEK/GB SATA Disk
        highlight: true
      - text: Everything in Basic
        highlight: false
    call_to_action:
      link: mailto:mikael@frykholm.com?subject=Request for plan Basic&body=I would like to start a VPS on the basic plan with X extra GB SSD, Y extra GB RAM and Z extra GB SATA disk.
      text: Get started
  - name: Internet (UmeNet) 
    color: "#000000"
    features:
      - text: 80SEK for 100 Mbit to private individuals. 
        highlight: true
      - text: 500SEK + VAT for 100 Mbit to companies
        highlight: true
      - text: Our highly available internet connections and services can also be bought as internet connection delivered via UmeNet in Umeå. 
        highlight: true
    call_to_action:
      link: mailto:mikael@frykholm.com?subject=Request for Internet via UmeNet&body=I would like to get started with a new internet connection via UmeNet.
      text: Get started
  - name: Internet (RobNet)
    color: "#000000"
    features:
      - text: 100 Mbit - 295 SEK
        highlight: false
      - text: 250 Mbit - 395 SEK
        highlight: false
      - text: 500 Mbit - 545 SEK
        highlight: false
      - text: 1000 Mbit - 795 SEK
        highlight: false
      - text: Via RobNet in Umeå. Prices per month. No binding time.
        highlight: false
    call_to_action:
      link: mailto:mikael@frykholm.com?subject=Request for Internet via RobNet&body=I would like to get started with a new internet connection via RobNet.
      text: Get started
faq:
  - question: What types of payment do you accept?
    answer: Pay with Paypal, Swish, Bankgiro or Autogiro. 
  - question: Can I change my plan at a later time?
    answer: Yes, you can upgrade and downgrade your plan at anytime.
  - question: Do you offer pricing for nonprofit organizations?
    answer: Perhaps! Send us a message and we'll discuss with you about nonprofit pricing.
  - question: Where do you deliver Internet connections?
    answer: We can deliver Internet connections via RobNet and UmeNet in Umeå. N.B. UmeNet's fees will be additional.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">mikael@frykholm.com</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
